@{
    ViewData["Title"] = "Welcome";
}

<h2>@ViewData["Title"]</h2>
<!-- ID is how many times it's done. You add a /number at the end of URL to set ID -->
<ul>
    @for (int i = 0; i < (int)ViewData["ID"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>